{:event/actor "seb" :event/at #inst "2026-07-10T11:52:44.024Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "starter templates and the no-process-yet meta-process (H9 instrument)"} :event/parents #{} :event/ticket #uuid "7ee8b276-ad53-4119-b884-f0f66b4d0242" :event/type :ticket/create}