{:event/actor "seb" :event/at #inst "2026-07-12T08:36:26.092Z" :event/body {:fact/path [:summary] :fact/value "orphaned process definitions are now collectable, and the invariant that keeps GC sound is pinned as a test"} :event/parents #{"sha256-1c53ef1ec4852460075dfa3f8cd902d746a31a497d5d9f366724dd63d28e66f1"} :event/ticket #uuid "0eddc84a-c359-48a2-93c8-974d28ba52bd" :event/type :fact/assert}