{:event/actor "seb" :event/at #inst "2026-07-10T07:51:31.692Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-8081c570fbdef3fc8dfd15b15cb9b52143ac42553599b0aef37387e8014074f1" :ticket/process-version 1 :ticket/title "counterfactual lenses: simulate/diff (deferred, PLAN s19)"} :event/parents #{} :event/ticket #uuid "eada4bfd-0c31-4235-af38-aedde2aeebeb" :event/type :ticket/create}