{:event/actor "seb" :event/at #inst "2026-07-29T17:41:11.299Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "Derivation is quadratic in events; the docstring claims linear"} :event/parents #{} :event/ticket #uuid "d8fe995d-a019-4821-8144-12edaeaab850" :event/type :ticket/create}