{:event/actor "seb" :event/at #inst "2026-07-29T17:41:20.978Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "explain cannot distinguish waiting from impossible"} :event/parents #{} :event/ticket #uuid "4f159a78-a544-4810-b7d7-e8e8bbf12c34" :event/type :ticket/create}