{:event/actor "seb" :event/at #inst "2026-07-10T13:50:11.444Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "newcomer-journey test: minute one can never be bug-riddled"} :event/parents #{} :event/ticket #uuid "d716ceeb-7369-4739-9fcf-740d95ffd4a5" :event/type :ticket/create}