{:event/actor "seb" :event/at #inst "2026-07-10T22:42:35.942Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "tik probe: auto-derive facts from repo contents via per-process probe scripts"} :event/parents #{} :event/ticket #uuid "9849c3cf-ab8b-407c-bc31-36d0d7fabe8f" :event/type :ticket/create}