{:event/actor "seb" :event/at #inst "2026-07-10T07:50:53.571Z" :event/body {:fact/path [:statement] :fact/value "Signatures, verify L1, and multi-replica union merge work across two machines without a coordinator"} :event/parents #{"sha256-4a0402eb9b2a610c88435d7e7ebd4bc8828dd22379574f048b5ee474e149f28a"} :event/ticket #uuid "e7bad314-472f-43c2-9be8-dbb77764ae09" :event/type :fact/assert}