{:event/actor "seb" :event/at #inst "2026-07-10T07:50:54.628Z" :event/body {:fact/path [:experiment] :fact/value "tik.sync-test (git clones) and dev/h2-two-machines.sh (podman over git://) pass; remaining: same flow on two physical boxes"} :event/parents #{"sha256-de748b259c5a3eac555761b2b21854fbab82e42c434d965afaa6cca9c8f758db"} :event/ticket #uuid "e7bad314-472f-43c2-9be8-dbb77764ae09" :event/type :fact/assert}