{:event/actor "seb" :event/at #inst "2026-07-10T07:50:53.104Z" :event/body {:ticket/process :hypothesis :ticket/process-hash "sha256-3ad5ad70c9a0cb58a12467c2dcfa22befc89d3403885e69e6a76f4be76a0be6b" :ticket/process-version 1 :ticket/title "H2 (Phase 1): signatures + L1 + union merge, no coordinator"} :event/parents #{} :event/ticket #uuid "e7bad314-472f-43c2-9be8-dbb77764ae09" :event/type :ticket/create}