{:event/actor "seb" :event/at #inst "2026-07-10T12:20:32.730Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "causal view: tik causal shows which events made each reached stage true"} :event/parents #{} :event/ticket #uuid "084ce1db-d18a-4f0d-9191-e17f2a3c334c" :event/type :ticket/create}