{:event/actor "seb" :event/at #inst "2026-07-10T07:51:03.391Z" :event/body {:fact/path [:statement] :fact/value "A newcomer gets from install to a derived, explained ticket using only --help and error messages"} :event/parents #{"sha256-550348f088865f628034a57268d27bb176aa6557426649288864f12d4b5ca1c9"} :event/ticket #uuid "4793fa04-40d0-45cb-b880-c04315e10b5b" :event/type :fact/assert}