{:event/actor "seb" :event/at #inst "2026-07-10T07:51:02.889Z" :event/body {:ticket/process :hypothesis :ticket/process-hash "sha256-3ad5ad70c9a0cb58a12467c2dcfa22befc89d3403885e69e6a76f4be76a0be6b" :ticket/process-version 1 :ticket/title "H9 (with H3): adoptable without the doc"} :event/parents #{} :event/ticket #uuid "4793fa04-40d0-45cb-b880-c04315e10b5b" :event/type :ticket/create}