{:event/actor "seb" :event/at #inst "2026-07-10T12:50:26.678Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "per-role views: ls --for <role> and next --role <role>"} :event/parents #{} :event/ticket #uuid "51203740-dcac-4cd3-ba8f-5a57c64d6665" :event/type :ticket/create}