{:event/actor "seb" :event/at #inst "2026-07-10T12:20:30.236Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "duplicate radar: similarity lens over titles and facts (H1 dogfood)"} :event/parents #{} :event/ticket #uuid "c0990568-e2b6-4eb1-a72e-4c093edc008b" :event/type :ticket/create}