{:event/actor "seb" :event/at #inst "2026-07-10T07:50:51.201Z" :event/body {:ticket/process :hypothesis :ticket/process-hash "sha256-3ad5ad70c9a0cb58a12467c2dcfa22befc89d3403885e69e6a76f4be76a0be6b" :ticket/process-version 1 :ticket/title "H1 (Phase 0): file-backed derive-on-read CLI is pleasant"} :event/parents #{} :event/ticket #uuid "55ac77bd-a088-4129-8caf-cef4c064948a" :event/type :ticket/create}