{:event/actor "seb" :event/at #inst "2026-07-11T07:12:13.731Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "retitling: the title fact supersedes the created title; rollout names and renames children"} :event/parents #{} :event/ticket #uuid "ac52f631-e22b-47f8-95e6-fe57edc2e773" :event/type :ticket/create}