{:event/actor "seb" :event/at #inst "2026-07-29T17:41:30.598Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "Effects: ADR 0019 disagrees with the implementation, and the ledger is per-machine"} :event/parents #{} :event/ticket #uuid "e46d6283-a822-446d-a809-41f20bcbfbec" :event/type :ticket/create}