{:event/actor "seb" :event/at #inst "2026-07-11T23:01:48.484Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "close the meta-check blind spot: sweep causal and next derivation lenses too"} :event/parents #{} :event/ticket #uuid "9a599188-0377-4e0c-8b6f-cab4b738b008" :event/type :ticket/create}