{:event/actor "seb" :event/at #inst "2026-07-11T23:55:44.596Z" :event/body {:fact/path [:description] :fact/value "shell babashka from the JVM test suite and require byte-identical canonical/derivation output, guarding the hash-forever promise against runtime drift"} :event/parents #{"sha256-951201ecb90cfe6f3cf54b80906151ee92688ca2375da9a7de7e44c53a29bd9a"} :event/ticket #uuid "e481c5c6-e7d2-41e9-bfa9-bd88c75681dc" :event/type :fact/assert}