{:event/actor "seb" :event/at #inst "2026-07-10T13:50:10.341Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "example processes: incident-response and employee-onboarding"} :event/parents #{} :event/ticket #uuid "58ad91f7-b9bc-4340-adae-ee860a600ac6" :event/type :ticket/create}