{:event/actor "seb" :event/at #inst "2026-07-29T18:47:30.563Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "mail-ticket-id derives a ticket id from a sender-controlled Message-ID via MD5"} :event/parents #{} :event/ticket #uuid "f21b781c-2076-48a8-9721-50399e5f5606" :event/type :ticket/create}