{:event/actor "seb" :event/at #inst "2026-07-10T07:50:58.124Z" :event/body {:fact/path [:statement] :fact/value "Witness countersigning plus OTS anchoring produce attestations a third party accepts without trusting us"} :event/parents #{"sha256-5a6cdb4df183abc1ed3863cfd07117f6858f225e4e17022e07f6010c4c50212b"} :event/ticket #uuid "43836158-8b06-4cce-a111-9a72325c11a2" :event/type :fact/assert}