{:event/actor "seb" :event/at #inst "2026-07-09T22:39:56.470Z" :event/body {:fact/path [:summary] :fact/value "Second EventStore backend: events(id TEXT PRIMARY KEY, bytes BLOB), exact canonical bytes, corpus green over both stores"} :event/parents #{"sha256-f9830e00728db0a78c228b43a1c20e04f8a637cbeb5654f37ba614e872742600"} :event/ticket #uuid "9001a361-62c7-4401-99eb-2b4be65608a7" :event/type :fact/assert}