{:event/actor "seb" :event/at #inst "2026-07-12T00:11:56.905Z" :event/body {:fact/path [:description] :fact/value "prototype the IDEAS process-verification feature: decide guard satisfiability and detect unreachable stages over a definition, in pure Clojure"} :event/parents #{"sha256-659d0f9defb1b97e15624d2d3c1d8cc050b6f27bf85b475654aef955fe55b313"} :event/ticket #uuid "1dd07af7-8a8b-4471-bee1-a17050e52fde" :event/type :fact/assert}