{:event/actor "seb" :event/at #inst "2026-07-09T22:42:56.159Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-8081c570fbdef3fc8dfd15b15cb9b52143ac42553599b0aef37387e8014074f1" :ticket/process-version 1 :ticket/title "dogfooding: run tik development in tik"} :event/parents #{} :event/ticket #uuid "56a63a75-0fda-4099-b00b-92944dcd33a4" :event/type :ticket/create}