{:event/actor "seb" :event/at #inst "2026-07-10T09:07:54.738Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "whatif: counterfactual lens"} :event/parents #{} :event/ticket #uuid "bff02f84-b4f4-4562-8865-45def46a8125" :event/type :ticket/create}