{:event/actor "seb" :event/at #inst "2026-07-10T09:07:55.088Z" :event/body {:fact/path [:summary] :fact/value "apply hypothetical steps to a ticket in memory, show the stage diff — derivation over a hypothetical set is the same pure function"} :event/parents #{"sha256-f5ec1da3111fea09dbd1797dd72045c5b3018a78dc23fb959319438a713b89ef"} :event/ticket #uuid "bff02f84-b4f4-4562-8865-45def46a8125" :event/type :fact/assert}