{:event/actor "seb" :event/at #inst "2026-07-12T01:48:14.377Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "harden cross-runtime test against babashka stdout noise (marker protocol)"} :event/parents #{} :event/ticket #uuid "35110483-e923-4822-ab27-22825196cf23" :event/type :ticket/create}