{:event/actor "seb" :event/at #inst "2026-07-09T22:39:58.081Z" :event/body {:fact/path [:summary] :fact/value "Run the sync-test flow between two physical machines; H2 kill criterion already passes over local clones"} :event/parents #{"sha256-3346ab6f0d98901b29d9204cd319638e13c8c746bc213585258d8092e0a76fe8"} :event/ticket #uuid "11a0ba52-b450-4433-b7ed-6c94d155986a" :event/type :fact/assert}