{:event/actor "seb" :event/at #inst "2026-08-06T19:55:05.410Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "Publish the evidence-bundle format and a service that re-derives it"} :event/parents #{} :event/ticket #uuid "80e64ab6-b259-4c8a-8343-dda33ae9fc7d" :event/type :ticket/create}