{:event/actor "seb" :event/at #inst "2026-07-10T09:07:53.999Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "graph: ascii process view with ticket overlay"} :event/parents #{} :event/ticket #uuid "28ef1285-08ce-429f-a61d-ea12b7f3e489" :event/type :ticket/create}