{:event/actor "seb" :event/at #inst "2026-07-10T07:51:04.731Z" :event/body {:fact/path [:statement] :fact/value "A user who has never seen tik reads an explain block and correctly states what is blocking and who can act"} :event/parents #{"sha256-69e27bb18e072a8164e99491dfef97988008258ede5940e16198c3c78d972cad"} :event/ticket #uuid "2dcf1c44-41d3-4c59-8680-e82cb29d633d" :event/type :fact/assert}