{:event/actor "seb" :event/at #inst "2026-07-29T18:25:16.065Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "evolve evaluates each fold step at the event's own claimed :at"} :event/parents #{} :event/ticket #uuid "1cdd877e-cf48-40be-8bc5-2603bb94ce0e" :event/type :ticket/create}