{:event/actor "seb" :event/at #inst "2026-07-10T07:51:35.945Z" :event/body {:fact/path [:summary] :fact/value "derived-from provenance edges; status at an arbitrary instant is just f(events, now). Expressible, unneeded, deferred"} :event/parents #{"sha256-c229086b62f7d0b5a6dd4ddd7b2dfa53b03046f291509d8cbf7b0b7e2a2a7749"} :event/ticket #uuid "764e097c-7df4-40f7-bf67-fe1667568d34" :event/type :fact/assert}