{:event/actor "seb" :event/at #inst "2026-07-12T00:05:58.434Z" :event/body {:fact/path [:description] :fact/value "add oracle-free metamorphic property tests over the fact algebra and a time-monotonicity theorem for the negation-free fixpoint"} :event/parents #{"sha256-ad97f0f676e4c66949d679d74fa290e9c6964c72c718cc23dac5d3ad2a517b1c"} :event/ticket #uuid "6b8f18ea-6f85-43a3-92ba-82463be6452e" :event/type :fact/assert}