{:event/actor "seb" :event/at #inst "2026-07-10T07:50:56.823Z" :event/body {:fact/path [:statement] :fact/value "The OIDC bridge plus registry ticket make identity onboarding a non-event in a Keycloak shop"} :event/parents #{"sha256-f56b51bbd5c83e60ab4d8fe89d3ff409d68e1d2d23b0556ff7c1a705efacd1ab"} :event/ticket #uuid "885d4f60-5cbf-4985-a9e1-0395ba6ed117" :event/type :fact/assert}