{:event/actor "seb" :event/at #inst "2026-07-10T07:51:05.847Z" :event/body {:fact/path [:statement] :fact/value "Given the authoring lens, a domain expert produces a linted, simulated, test-passing process for their own workflow without editing EDN"} :event/parents #{"sha256-a19a2dc47247b6839e8774a4458d00f2e7e50d836ab60daa22bfc090eefac91c"} :event/ticket #uuid "205c72d3-6814-4f81-965f-841a735b5125" :event/type :fact/assert}