{:event/actor "seb" :event/at #inst "2026-07-10T07:51:06.215Z" :event/body {:fact/path [:kill] :fact/value "Every production process was ultimately hand-written by a developer — then the authoring layer is decoration and the adoption ceiling stands"} :event/parents #{"sha256-5e23a922e1cec1fe213b8ecde9ff9582f2d784e8ffbf07ebd666ec39d382e9e6"} :event/ticket #uuid "205c72d3-6814-4f81-965f-841a735b5125" :event/type :fact/assert}