{:event/actor "seb" :event/at #inst "2026-07-10T07:51:05.467Z" :event/body {:ticket/process :hypothesis :ticket/process-hash "sha256-3ad5ad70c9a0cb58a12467c2dcfa22befc89d3403885e69e6a76f4be76a0be6b" :ticket/process-version 1 :ticket/title "H11 (authoring ladder): a non-developer authors a process"} :event/parents #{} :event/ticket #uuid "205c72d3-6814-4f81-965f-841a735b5125" :event/type :ticket/create}