{:event/actor "seb" :event/at #inst "2026-07-11T21:57:48.521Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "totality registry: one auditable table of boundary functions, one property enforcing the fail-well floor"} :event/parents #{} :event/ticket #uuid "87f7e012-215c-4abb-8cea-08ee82449923" :event/type :ticket/create}