{:event/actor "seb" :event/at #inst "2026-07-29T17:41:24.059Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "artifact guard prefix is a raw string prefix but renders as a path"} :event/parents #{} :event/ticket #uuid "98d1a4ec-3239-4952-8eb6-bf5d1d19744d" :event/type :ticket/create}