{:event/actor "seb" :event/at #inst "2026-07-10T09:35:41.999Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "agent boundary + MCP server (H7 machinery)"} :event/parents #{} :event/ticket #uuid "45813935-a701-4c64-b949-d89a966c77a1" :event/type :ticket/create}