{:event/actor "seb" :event/at #inst "2026-07-11T08:29:28.690Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "fuzz layer round 2: argv, parsers, hostile-but-hash-valid store files"} :event/parents #{} :event/ticket #uuid "dc296ee2-f58e-422d-89cb-23b757f2193a" :event/type :ticket/create}