{:event/actor "seb" :event/at #inst "2026-07-10T08:02:13.235Z" :event/body {:fact/path [:summary] :fact/value "--filter :stage with :not negation over current stages; tik search across titles and fact values of all tickets"} :event/parents #{"sha256-5cff7c3e8e5c287daeb4aa0c919e364bcdbe77c83ccbbc816c6121283816f40b"} :event/ticket #uuid "216011cf-6967-4e4d-ab47-058998d43bf7" :event/type :fact/assert}