{:event/actor "seb" :event/at #inst "2026-07-10T10:44:32.913Z" :event/body {:fact/path [:description] :fact/value "tik author: guided interview -> linted definition + runbook stubs + failing-into-explain test skeleton. H11 moves from stated to startable."} :event/parents #{"sha256-10ea186a7944b5257d9400990326451b4f7cf1ff4edd7321a89f7a80c49b0ff7"} :event/ticket #uuid "b7ae6525-8b7f-4507-82ea-9cc56d28fb2e" :event/type :fact/assert}