{:event/actor "seb" :event/at #inst "2026-07-10T10:35:33.219Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "authoring lens: tik author — guided interview to linted process (H11 instrument)"} :event/parents #{} :event/ticket #uuid "b7ae6525-8b7f-4507-82ea-9cc56d28fb2e" :event/type :ticket/create}