{:event/actor "seb" :event/at #inst "2026-07-10T10:44:46.683Z" :event/body {:fact/path [:description] :fact/value "tik author: guided interview to linted definition plus runbook stubs plus failing-into-explain test skeleton. H11 moves from stated to startable."} :event/parents #{"sha256-06029f8dbce6735447708aa3edf87154c744decf2bf1ee8a2a0c647df94a8107"} :event/ticket #uuid "b7ae6525-8b7f-4507-82ea-9cc56d28fb2e" :event/type :fact/assert}