{:event/actor "seb" :event/at #inst "2026-07-10T09:55:39.858Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "OTS anchoring: the trustless leg (PLAN s10, adopted)"} :event/parents #{} :event/ticket #uuid "50598205-d100-44a2-b266-f46bc97ee424" :event/type :ticket/create}