{:event/actor "seb" :event/at #inst "2026-07-10T09:14:48.167Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "email bridge: mail in, signed events out"} :event/parents #{} :event/ticket #uuid "86497e35-489c-4b04-8272-83cae98ffd23" :event/type :ticket/create}