{:event/actor "seb" :event/at #inst "2026-07-10T07:50:55.078Z" :event/body {:ticket/process :hypothesis :ticket/process-hash "sha256-3ad5ad70c9a0cb58a12467c2dcfa22befc89d3403885e69e6a76f4be76a0be6b" :ticket/process-version 1 :ticket/title "H3 (Phase 1): explain/next beat a Jira baseline"} :event/parents #{} :event/ticket #uuid "f446679f-85f2-41eb-a235-1984492023ca" :event/type :ticket/create}