{:event/actor "seb" :event/at #inst "2026-07-11T11:07:52.735Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "fuzz round 5: hostile DAGs, poisoned tickets, board fault isolation"} :event/parents #{} :event/ticket #uuid "8be256ff-7e33-4d79-af1f-b340e7edb366" :event/type :ticket/create}