{:event/actor "seb" :event/at #inst "2026-07-09T22:39:56.879Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-8081c570fbdef3fc8dfd15b15cb9b52143ac42553599b0aef37387e8014074f1" :ticket/process-version 1 :ticket/title "tik migrate --dry-run (ADR 0002)"} :event/parents #{} :event/ticket #uuid "5f72ce3d-2d13-4ca3-b800-ca29d7c0fd17" :event/type :ticket/create}