{:event/actor "seb" :event/at #inst "2026-07-11T23:25:27.987Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "empty-board hint leads with tik init when no store is reachable"} :event/parents #{} :event/ticket #uuid "8194fd03-b265-4d39-bac0-4bc1da177d16" :event/type :ticket/create}