{:event/actor "seb" :event/at #inst "2026-07-09T22:39:58.939Z" :event/body {:fact/path [:kind] :fact/value :docs} :event/parents #{"sha256-edcd578d86ee530dfffc2fee4be6defabe58abe8934bbd61a6acca5642dd58e3"} :event/ticket #uuid "0e846dac-d9a6-409a-bfdb-120f3dac008c" :event/type :fact/assert}