{:event/actor "seb" :event/at #inst "2026-07-11T23:16:21.695Z" :event/body {:fact/path [:summary] :fact/value "a new kernel .cljc file now forces a swept-or-excluded verdict; the namespace set is no longer hand-maintained"} :event/parents #{"sha256-ae65bf61279cf3b73db965e31a21ae4e6144a2acbb051b27c98b982a88e669df"} :event/ticket #uuid "2f121825-d27e-4b54-8056-174a5222c143" :event/type :fact/assert}