{:event/actor "seb" :event/at #inst "2026-07-12T08:48:06.966Z" :event/body {:fact/path [:description] :fact/value "gate the gc git-recovery message on git-tracked? so a non-version-controlled store is told the delete is permanent"} :event/parents #{"sha256-8b6aceac8cfd55370c70d5703f91e68f557a87f90e9931089c7b6694be472240"} :event/ticket #uuid "b92ab5af-2e73-4345-81fb-2203a899d5b3" :event/type :fact/assert}