{:event/actor "seb" :event/at #inst "2026-07-29T18:47:34.339Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "pack! can delete the loose events after a rename that did not happen"} :event/parents #{} :event/ticket #uuid "e719a456-7475-454e-a9e3-f1248f40330d" :event/type :ticket/create}