{:event/actor "seb" :event/at #inst "2026-07-10T08:50:26.398Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "signed process definitions + whole-store audit"} :event/parents #{} :event/ticket #uuid "f07485e3-a306-44da-9ac2-91cbdcea0918" :event/type :ticket/create}