{:event/actor "seb" :event/at #inst "2026-07-10T10:57:09.179Z" :event/body {:ticket/process :identity-registry :ticket/process-hash "sha256-e3d4a4cd66b79971817e05d25afa5a7bb3e0a2c1db673b4e56a72308a3af3bb0" :ticket/process-version 1 :ticket/title "identity registry (rung 2 bindings)"} :event/parents #{} :event/ticket #uuid "a3e07b0b-bc7e-40ae-b8d5-4a6bb24b6f14" :event/type :ticket/create}