{:event/actor "seb" :event/at #inst "2026-07-10T10:51:00.454Z" :event/body {:fact/path [:description] :fact/value "forgiving parse-value, prose glue in set, first-run hints, start-here usage block, unknown-command and ambiguous-prefix guidance"} :event/parents #{"sha256-d4d784760c3665e27f0681627a55583e2245d8174ecb6fa44a187d79d8d496e5"} :event/ticket #uuid "8530d38a-bb42-4ff4-b9ca-9adca8f54595" :event/type :fact/assert}