{:event/actor "seb" :event/at #inst "2026-07-10T10:46:08.057Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "H9 adoptability pass: forgiving set values, first-run hints, errors that name their fix"} :event/parents #{} :event/ticket #uuid "8530d38a-bb42-4ff4-b9ca-9adca8f54595" :event/type :ticket/create}