{:event/actor "seb" :event/at #inst "2026-07-10T12:50:24.471Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "customer info-request loop: email effect out, tik> facts back via the bridge"} :event/parents #{} :event/ticket #uuid "f4cde8f0-0578-4d8b-8000-11b013da419e" :event/type :ticket/create}