{:event/actor "seb" :event/at #inst "2026-07-11T22:16:50.059Z" :event/body {:ticket/process :tik-dev :ticket/process-hash "sha256-93474ce2b4a3090fc946e356abcd54177c7ed6598706ec44f47cf3131fa08813" :ticket/process-version 1 :ticket/title "meta-check: every public kernel fn must carry a totality verdict (registered or exempt)"} :event/parents #{} :event/ticket #uuid "a4bd5df1-e3fd-47c7-9971-e72358d2aa0d" :event/type :ticket/create}