{:event/actor "seb" :event/at #inst "2026-07-11T22:17:20.890Z" :event/body {:fact/path [:summary] :fact/value "a new public kernel fn now fails the suite until it is classified — total-boundary or exempt-with-reason"} :event/parents #{"sha256-b1236233928833cc35268eea12151775cc47adf99d85fe8017988118d75a1214"} :event/ticket #uuid "a4bd5df1-e3fd-47c7-9971-e72358d2aa0d" :event/type :fact/assert}